body {
  font-family: "Poppins", sans-serif;
  background: #0b0b0b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-page {
  background: #111;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px #f5b400;
}

input {
  display: block;
  margin: 0.5rem 0;
  padding: 0.7rem;
  width: 100%;
  border: none;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 0.7rem;
  border: none;
  background: #f5b400;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.5rem;
  font-weight: 600;
}
