body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111;
  color: #fff;
}

.app {
  background: #222;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
}

button {
  padding: 10px 20px;
  background: gold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
